<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LogConfig" type="Juan.Core.LogSection,Juan.Core"/>
  </configSections>
  <LogConfig  Application="BizhiInterfaceSite" Host=""  WritePath=""  IsDispose="false" IsSql="false" IsSolr="false" IsOperation="false" >
    <Error IsRedirect="false" ErrorHint="对不起页面出错，请与管理员联系" ErrorUrl="/error.htm" NoFoundUrl="/404.html" />
  </LogConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
