<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="ContextConfig" type="Seven.Core.ContextSection,Seven.Core"/>
  </configSections>

  <ContextConfig>

    <Context Name="Seven" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=gao7manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33201;Database=gao7manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>
	
      <Context Name="Seven.Studio" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevenstudio;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevenstudio;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.Log" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=gao7manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33201;Database=gao7manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.File" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=gao7manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
		<Read ConnectionString="SERVER=192.168.100.154;Port=33201;Database=gao7manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="Seven.Power" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=gao7manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33201;Database=gao7manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>
	
	<Context Name="Seven.Pay" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevenpay;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevenpay;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.CmsPlus" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.CMS" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.App" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Activity" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.WoChao" ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7wc;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7wc;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Game" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Card" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Graph" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.TopRated" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7top;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7top;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Counter" ConnectionString="SERVER=192.168.100.154;Port=3306;database=gao7counter;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7counter;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Counters" ConnectionString="SERVER=192.168.100.154;Port=3306;database=gao7counter;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7counter;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.Counter" ConnectionString="SERVER=192.168.100.154;Port=3306;database=gao7counter;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7counter;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Link" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7fav;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7fav;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.AppComment" ConnectionString="SERVER=192.168.100.154;Port=3306;database=gao7comment;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7comment;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.Comments" ConnectionString="SERVER=192.168.100.154;Port=33201;database=sevencomment;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevencomment;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.User" ConnectionString="SERVER=192.168.100.154;Port=13311;Database=gao7user;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13311;Database=gao7user;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.UserCenter" ConnectionString="SERVER=192.168.100.154;Port=13311;Database=gao7usercenter;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13311;Database=gao7usercenter;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.WeiXin" ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7wx;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7wx;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Statistics" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=statistics;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=statistics;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Push" ConnectionString="SERVER=192.168.100.154;Port=13311;Database=gao7push;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13311;Database=gao7push;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Msg" ConnectionString="SERVER=192.168.100.154;Port=13311;Database=gao7msg;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13311;Database=gao7msg;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Gao7UserApp" ConnectionString="SERVER=192.168.100.154;Port=3310;Database=gao7userapp;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3310;Database=gao7userapp;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.RedeemActivity" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.BiZhi" ConnectionString="SERVER=192.168.100.154;Port=33081;Database=gao7bizhi;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33082;Database=gao7bizhi;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="BiZhi.Manage" ConnectionString="SERVER=192.168.100.154;Port=33081;Database=bizhi_manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33082;Database=gao7bizhi;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	 <Context Name="Gao7.WeiXinMini" ConnectionString="SERVER=192.168.100.154;Port=33081;Database=gao7weixinmini;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33082;Database=gao7weixinmini;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Sys" ConnectionString="SERVER=192.168.100.154;Port=13313;database=appfamecms;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>

    <Context Name="Gao7.Lottery" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7fav;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7fav;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.App.Card" ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7wx;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7wx;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Report" ConnectionString="SERVER=192.168.100.154;Port=13316;database=gao7log;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13316;database=gao7log;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.StartupLog" ConnectionString="SERVER=192.168.100.154;Port=13312;database=startuplog;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13312;database=startuplog;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.Adm" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Track" ConnectionString="SERVER=192.168.100.154;Port=13312;database=startuplog;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=13312;database=startuplog;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.NewGame" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Bell" ConnectionString="SERVER=192.168.100.154;Port=33081;Database=gao7ring;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=33082;Database=gao7ring;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Miaozs" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7app;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.WorldCup" ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7worldcup;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7worldcup;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Wiki" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7wiki;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7wiki;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.SDKAdvert" ConnectionString="SERVER=192.168.100.154;Port=13325;Database=gao7sdk;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=13325;Database=gao7sdk;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.ShortUrl" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevendata;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevendata;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.Notify" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevendata;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevendata;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.Ad" ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevenad;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=33201;Database=sevenad;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <!-- Gao7Ip -->
    <Context Name="Seven.IP" ConnectionString="SERVER=192.168.100.154;Port=13305;Database=gao7ip;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=13305;Database=gao7ip;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.WelfareUCenter" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7welfare;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7welfare;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Pack" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7pack;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7pack;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Seven.Stat" ConnectionString="SERVER=192.168.100.154;Port=13309;Database=sevenstat;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=13309;Database=sevenstat;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Zone" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.Special"  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7news;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Meitu.Wumao" ConnectionString="SERVER=192.168.100.154;Port=13308;Database=meitu;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=13308;Database=meitu;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.BiZhiLog"  ConnectionString="SERVER=192.168.100.154;Port=3310;Database=gao7bizhilog;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3310;Database=gao7bizhilog;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.LowPriceBidding"  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7lowbid;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7lowbid;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.AppRank"  ConnectionString="SERVER=192.168.100.154;Port=3321;Database=gao7aso;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3321;Database=gao7aso;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.OneIndiana"  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=oneindiana;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=oneindiana;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.JfDuobao"  ConnectionString="SERVER=192.168.100.154;Port=13308;Database=jfduobao;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=13308;Database=jfduobao;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

    <Context Name="Gao7.VR" ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7vr;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=13308;Database=gao7vr;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="Gao7.DiyStore" ConnectionString="SERVER=192.168.100.154;Port=33081;Database=gao7diystore;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=33081;Database=gao7diystore;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="Gao7.H5Game" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7h5;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7h5;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="Gao7.PokemonGo" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7poke;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read  ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7poke;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="Gao7.DreamFairy" ConnectionString="SERVER=192.168.100.154;Port=3306;database=dreamfairy;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>

	<Context Name="Gao7.Driving" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7driving;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7driving;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="Seven.ChildSong" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7childsong;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>

	<Context Name="Seven.WeiXinApp" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=gao7weixinapp;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>

	<Context Name="Seven.Activity" ConnectionString="SERVER=192.168.100.154;Port=3307;Database=sevenactivity;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>

	<Context Name="Seven.Community" ConnectionString="SERVER=192.168.100.154;Port=3308;Database=gao7community;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=3308;Database=gao7community;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>
    <Context Name="Seven.NewCommunity" ConnectionString="SERVER=192.168.100.154;Port=33171;Database=community;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33171;Database=community;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>
	<Context Name="NewCommunity.Manage" ConnectionString="SERVER=192.168.100.154;Port=33171;Database=community_manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33171;Database=community_manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="CorpseJiang.Data" ConnectionString="SERVER=192.168.100.154;Port=3306;Database=corpsejiang;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33151;Database=corpsejiang;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="Pet.Data" ConnectionString="SERVER=192.168.100.154;Port=33151;Database=pet;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33151;Database=pet;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>
	
	<Context Name="Seven.ShoppingMall" ConnectionString="SERVER=192.168.100.154;Port=33161;Database=shoppingmall;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33161;Database=shoppingmall;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>
	<Context Name="ShoppingMall.Manage" ConnectionString="SERVER=192.168.100.154;Port=33161;Database=shoppingmall_manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33161;Database=shoppingmall_manage;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

	<Context Name="WaiGua.MiniMall" ConnectionString="SERVER=192.168.100.154;Port=33131;Database=waiguamall;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33131;Database=waiguamall;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>
	<Context Name="YiKaoPai.MiniMall" ConnectionString="SERVER=192.168.100.154;Port=33131;Database=yikaopai;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33131;Database=yikaopai;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>
	<Context Name="Gao7.MiniMall" ConnectionString="SERVER=192.168.100.154;Port=33131;Database=gao7mall;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;">
      <Read ConnectionString="SERVER=192.168.100.154;Port=33131;Database=gao7mall;Uid=gao7test;Pwd=gao7test;Allow User Variables=True;Charset=utf8;"/>
    </Context>

  </ContextConfig>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>