<?xml version="1.0"?>

<configuration>
    <configSections>
    <section name="EncryptConfig" type="Seven.Core.EncryptSection,Seven.Core"/>
  </configSections>

<EncryptConfig>
    <Encrypt Name="Seven"  Value="E36D03EA6B98B0C89C1E3C5F4A4F44CB33E26588" HistoryValue="" />
</EncryptConfig>
 
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>