<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LockConfig" type="Seven.Core.LockSection,Seven.Core"/>
  </configSections>
  <LockConfig >
    <Lock Name="SevenLock" IsSortLock="true"  LockTimeOut="00:02:00" WaitTimeOut="00:10:00"  SleepTime="00:00:00.500" ConfigValue="Seven.Lock|17" />
  </LockConfig>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
</configuration>