<?xml version="1.0"?>
<configuration>
  <configSections> 
    <section name="MemcachedConfig" type="Seven.Data.Memcached.MemcachedSection,Seven.Data.Memcached"/>
  </configSections>
  <MemcachedConfig>
    <Provider Name="Seven" >
      <Servers>        
        <add address="10.19.35.74" port="11211"/>
		<add address="10.19.166.98" port="11211"/>
		<add address="10.19.13.229" port="11211"/>
		<add address="10.19.97.155" port="11211"/>
      </Servers>
      <SocketPool minPoolSize="11" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
    </Provider>
  </MemcachedConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>