<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="Seven.Data.Redis.RedisSection,Seven.Data.Redis"/>
  </configSections>
  <RedisConfig>
    <!--产品一部-->
    <Provider Name="Redis1" WriteServer="192.168.102.25:6390" ReadServer="192.168.102.25:6390" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--产品一部应用上报专用-->
    <Provider Name="Redis16312" WriteServer="192.168.102.25:6390" ReadServer="192.168.102.25:6390" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--产品二部资讯-->
    <Provider Name="Redis2" WriteServer="192.168.102.25:6390" ReadServer="192.168.102.25:6390" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--产品二部评论系统-->
    <Provider Name="Redis2_Comment" WriteServer="192.168.102.25:6390" ReadServer="192.168.102.25:6390" MaxWritePoolSize="50" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--产品二部ShortUrl系统-->
    <Provider Name="Redis2_ShortUrl" WriteServer="192.168.102.25:6390" ReadServer="192.168.102.25:6390" MaxWritePoolSize="50" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--产品二部广告-->
    <Provider Name="Redis2_Ad" WriteServer="192.168.102.25:6390" ReadServer="192.168.102.25:6390" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--排行系统-->
    <Provider Name="SevenRanking" WriteServer="192.168.102.25:6390" ReadServer="192.168.102.25:6390" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--框架配置-->
    <Provider Name="SevenRedis" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--平台部-->
    <Provider Name="Redis3" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="50" MaxReadPoolSize="50" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--IP库-->
    <Provider Name="Redis_IP" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="50" MaxReadPoolSize="50" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />

    <!--支付中心-->
    <Provider Name="Seven.Pay" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="1" />

    <!--广告中心-->
    <Provider Name="Seven.Ad" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="50" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="5" />

    <!--通知中心-->
    <Provider Name="Seven.Notify" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="50" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="6" />

    <!--计数中心-->
    <Provider Name="Seven.Counter" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="50" MaxReadPoolSize="50" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="0" />
	
	<!--小宠来了-->
	<Provider Name="Pet.Data" WriteServer="192.168.102.25:6300" ReadServer="192.168.102.25:6300" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="1" />

	<!--商城-->
	<Provider Name="Seven.ShoppingMall" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="1" />

	<!--歪瓜-->
	<Provider Name="WaiGua.MiniMall" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="1" />

	<Provider Name="Seven.Lock" WriteServer="192.168.102.25:6530" ReadServer="192.168.102.25:6530" MaxWritePoolSize="30" MaxReadPoolSize="100" AutoStart="true" Password="" IsEncrypt="false" DefaultDb="17" />
	
  </RedisConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>