<?xml version="1.0"?>

<configuration>
   
  <appSettings>
   
     <!-- 是否正式环境 -->
    <add key="IsRelease" value="true" />
     <!-- MemcachedHost服务端 -->
    <add key="MemcachedHost" value="192.168.10.180:11213,192.168.10.180:11214,10.41.51.81:11215,10.41.51.82:11216" />
    <!--是否生成缩略图-->
    <add key="Image_IsCreateThumbnail" value="true"/>
    <!--生成缩略图图片路经-->
    <add key="Image_Thumbnail_Pattern" value="(file|filedl|files|filelx|file001|file002|file003).gao7.com"/>	
  
    <!--页面默认缓存时间-->
    <add key="PageCacheMinutes" value="10"/>
    <!--单个实体默认缓存时间-->
    <add key="RecordCacheMinutes" value="30"/>
    <!--依懒键总缓存时间单位分钟-->
    <add key="DependencyCacheMinutes" value="300"/>

    <add key="CacheMaxAge" value="10"/>
    <add key="CacheMaxAge_Index" value="10"/>
    <add key="CacheMaxAge_Detail" value="720"/>
    <add key="CacheMaxAge_List" value="20"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>