<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SolrConfig" type="Seven.Data.Solr.SolrSection,Seven.Data.Solr"/>
  </configSections>
  <SolrConfig>

    <Provider Name="Solr.CMS" ServerUrl="http://10.19.175.242:8080/solr/"   >
      <Read  ServerUrl="http://10.19.3.53:8080/solr/" ></Read>
    </Provider>
    <Provider Name="Solr.Pack" ServerUrl="http://10.19.175.242:8080/solr/"   >
      <Read  ServerUrl="http://10.19.3.53:8080/solr/" ></Read>
    </Provider>
    <Provider Name="Solr.WelFare" ServerUrl="http://10.19.175.242:8080/solr/"   >
      <Read  ServerUrl="http://10.19.3.53:8080/solr/" ></Read>
    </Provider>
    <Provider Name="Solr.Search" ServerUrl="http://10.19.175.242:8080/solr/"   >
      <Read  ServerUrl="http://10.19.3.53:8080/solr/" ></Read>
    </Provider>
    <Provider Name="Solr.NewGame" ServerUrl="http://10.19.175.242:8080/solr/"   >
      <Read  ServerUrl="http://10.19.3.53:8080/solr/" ></Read>
    </Provider>
    <Provider Name="Solr.BBS" ServerUrl="http://10.19.175.242:8080/solr/"   >
      <Read  ServerUrl="http://10.19.3.53:8080/solr/" ></Read>
    </Provider>
    <Provider Name="Solr1" ServerUrl="http://10.19.110.59:8080/solr/"   >
      <Read  ServerUrl="http://10.19.3.53:18080/solr/" ></Read>
    </Provider>
    <Provider Name="Solr2" ServerUrl="http://10.19.175.242:8080/solr/"   >
     <Read  ServerUrl="http://10.19.3.53:8080/solr/" ></Read>
    </Provider>
    <Provider Name="Solr3" ServerUrl="http://10.41.68.180:8080/solr/"   >
      <Read  ServerUrl="http://10.19.122.182:38080/solr/" ></Read>
    </Provider>
  </SolrConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>