<?xml version="1.0"?>

<configuration>
   
  <appSettings>
   
     <!--计数存储仓库个数-->
     <add key="Counter_Store_Count" value="10" />
     <!--计数消费队列数-->
     <add key="Counter_Queue_Count" value="10" />
     <!--推送消费队列数-->
     <add key="Push_Queue_Count" value="10" />
     <!--路经消费队列数-->
     <add key="UserPath_Queue_Count" value="10" />
     <!--设备消费队列数-->
     <add key="ActionRegister_Queue_Count" value="10" />
   
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>