<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ThriftConfig" type="Seven.Thrift.ThriftSection,Seven.Thrift"/>
  </configSections>
  <ThriftConfig>
    <Provider Name="Sequence" SslPath="" >
      <Sockets>
       <Socket Name="1" Host="10.19.51.88" Port="7001"  />
       <Socket Name="2" Host="10.19.179.42" Port="7001"  />
       <Socket Name="3" Host="10.19.19.252" Port="7001"  />
      </Sockets>
    </Provider>
     <Provider Name="WordFiter" SslPath="" >
      <Sockets>
        <Socket Name="1" Host="10.19.51.88" Port="8001"  />
        <Socket Name="2" Host="10.19.179.42" Port="8001"  />
      </Sockets>
    </Provider>
  </ThriftConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>