<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ESearchConfig" type="Juan.Data.ESearch.ESearchSection,Juan.Data.ESearch"/>
    <section name="ESearch7Config" type="Juan.Data.ESearch.ESearchSection,Juan.Data.ESearch"/>
  </configSections>
  <ESearchConfig>
    <Provider Name="wxnt" ServerUrl="" />
  </ESearchConfig>
  <ESearch7Config>
    <Provider Name="lgx" ServerUrl="" />
  </ESearch7Config>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>